.spotify-window{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

 


    iframe{
        width: 100%;
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        border: none;
    }
}